<div class="posts-list">
    <app-post-form></app-post-form>
    <div *ngFor="let post of posts">
      <a [routerLink]="['/all-posts', post.id]">
        <div class="post-header">
    <!--      <img src="" alt="Profile Picture">-->
          <h2> {{post.user}}</h2>
          <p> Category: {{post.category.name}}</p>
          <p> Title: {{post.title}} </p>
        </div>
        <div class="post-content">
          <p>{{post.content}}</p>
        </div>
        <div class="post-date">
          <p>{{post.created_at}} </p>
        </div>
      </a>
    </div>
</div>
