<div class="centralize">
    <app-post-form></app-post-form>
    <div *ngFor="let post of posts" class="post">
      <a [routerLink]="['/all-posts', post.id]">
        <div class="post-header">
          <h2>{{ post.username || 'User Not Found' }}</h2>
          <p> Сategory: {{getPostCategory(+post.category)}}</p>
        </div>
        <div class="post-content">
          <p>{{post.content}}</p>
        </div>
        <div class="post-date">
          <p>{{post.created_at}} </p>
        </div>
      </a>
      <div *ngIf="post.id !== undefined" class="likes">
        <p>Likes: {{ post.likes_count }}</p>
        <button class="post-button" (click)="toggleLike(post)">{{ post.is_liked ? 'Unlike' : 'Like' }}</button>
      </div>
    </div>
</div>
