<div class="posts-list">
    <app-post-form></app-post-form>
    <div *ngFor="let post of posts">
      <a [routerLink]="['/all-posts', post.id]">
        <div class="post-header">
    <!--      <img src="" alt="Profile Picture">-->
          <h2>{{ post.userDetails?.username || 'User Not Found' }}</h2>
          <p> Category: {{getPostCategory(+post.category)}}</p>
        </div>
        <div class="post-content">
          <h3>Title: {{post.title}} </h3>
          <p>{{post.content}}</p>
        </div>
        <div class="post-date">
          <p>{{post.created_at}} </p>
        </div>
      </a>
    </div>
</div>
