.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(71, 61, 81, 0.75) 0%, rgba(20, 19, 21, 0.75) 100%), url('https://images.freecreatives.com/wp-content/uploads/2015/03/Huge-Backgrounds-17.jpg');
    background-size: cover;
    background-position: center;
    margin: -10px;
}

.inscription{
    position: absolute;
    top: 40%;
    left: 55%;
    right: 5%;
    font-size: 30px;
    color: rgb(153, 139, 184);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.login-container input {
    width: 105%;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

.login-container h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(153, 139, 184);
}

.login-container {
    width: 350px;
    background-color: white;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 55px;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1100px) {
    .inscription{
        display: none;
    }
    .login-container{
        left: 50%;
    }
}

.login-container button {
    padding: 8px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 110%;
}

.login-container p {
    margin-top: 30px;
    text-align: center;
}

.login-container a{
    text-decoration: none;
    color: rgb(153, 139, 184);
}

.login-container a:hover{
    text-decoration:underline;
}
