<div class="banner">

</div>
<div class="inscription">
    <h2>Share a piece of yourself with the world</h2>
</div>
<div class="login-container">
    <h1>MicroPost</h1>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    <input [(ngModel)]="credentials.username" placeholder="Username">
    <input [(ngModel)]="credentials.password" placeholder="Password" type="password">
    <button (click)="login()">Login</button>
    <p>and if you don't have an account please <a [routerLink]="['/register']">register</a></p>
</div>