.top-bar {
    width: 100%;
    height: 55px;
    padding: 16px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    margin: -10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 20px;
}

a {
    color: rgb(182, 171, 209);
    cursor: pointer;
    text-decoration: none;
}

a:focus{
    color: rgb(83, 69, 119);
}

a:hover {
    background-color: rgb(247, 247, 247);
    border-radius: 18px;
    color: rgb(83, 69, 119);
}